/* HomePage.css */

.home-container {
  margin-top: 15px;
  background-color: #f8f9fa; /* Set a background color if needed */
  padding: 20px;
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(221, 221, 221);
}

.home-section {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #000000;
  padding: 20px;
}

.home-section:nth-child(odd) {
  background-image: url("");
}

.home-section:nth-child(even) {
  background-image: url("");
}

.home-content {
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(221, 221, 221);
}

.home-content-2 {
  background-color: #fdfdfd;
  padding: 20px;
  /* padding-bottom: 400px; */
  text-align: left;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(221, 221, 221);
}
.home-content-3 {
  background-color: rgb(226, 226, 226);
  padding: 20px;
  padding-bottom: 320px;
  border-radius: 8px;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: 1260px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/jam-jam-development.appspot.com/o/images%2FOIG490009.png?alt=media&token=c2eab15a-5aae-49f0-876a-f7b37d586ca0");
  /* background-image: url("https://firebasestorage.googleapis.com/v0/b/jam-jam-development.appspot.com/o/images%2FOIG7-croped-3.png?alt=media&token=9a27cafc-fe7e-4a25-b778-7d218b4ae92f"); */
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(221, 221, 221);
}

.home-content-4 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  padding-bottom: 700px;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/jam-jam-development.appspot.com/o/images%2FOIG300000000000.png?alt=media&token=6419472d-ba41-40b2-be47-b025fc182ed3");
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(221, 221, 221);
}
.home-content-5 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  /* padding-bottom: 700px; */
  /* border-radius: 8px; */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 1000px; */
  /* background-image: url("https://firebasestorage.googleapis.com/v0/b/jam-jam-development.appspot.com/o/images%2FOIG300000000000.png?alt=media&token=6419472d-ba41-40b2-be47-b025fc182ed3"); */
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(221, 221, 221);
}

.homeImages {
  width: 100%;
}
