.authContainer {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  /* background-size: 1400px; */
  /* background-size: cover; */
  /* background-size: 70%;
  background-position: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/jam-jam-development.appspot.com/o/images%2FUntitled-2.png?alt=media&token=cb6c7843-9c48-4733-8702-b53492b124fc");
  background-repeat: no-repeat; */
  /* height: 90vh; */
}

.authDiv {
  max-width: 400px;
}

.intro_image {
  width: 100%;
}
