.custom-card {
  cursor: pointer;
  transition: background-color 0.3s; /* Add smooth transition for a better visual effect */
  /* Add any other styles for the card */
}

.custom-card:hover {
  background-color: #f5f5f5; /* Light gray color */
  /* Add any other styles for the card on hover */
}

.custom-selected {
  border: 2px solid #007bff; /* Adjust the border color as needed */
  /* Add any other styles for the selected card */
}

.friendRequestsCont {
  margin: 0px 0px 0px 0px;
  /* position: absolute; */
  /* bottom: 135px; */
  /* background-color: #f5f5f5; */
}

.jamNameLink {
  color: purple;
  text-decoration: none;
  padding: 2px; /* Add padding to create space for the border */
  margin: 3px; /* Add padding to create space for the border */
}

.jamNameLink:hover {
  outline: 1px solid rgb(180, 180, 180); /* Set the outline to mimic an inside border */
  box-shadow: inset 0 0 0 1px rgb(190, 190, 190); /* Use box-shadow to create the border inside */
  border-radius: 6px;
}
